In [ ]:
!pip install knnor
from knnor import data_augment

Requirement already satisfied: knnor in /usr/local/lib/python3.7/dist-packages (0.0.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from knnor) (1.21.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from knnor) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->knnor) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->knnor) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->knnor) (1.4.1)

In [ ]:
import pandas as pd
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import io

# Augementing data for  A

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving sampleDataSet.csv to sampleDataSet (1).csv

In [ ]:
df=pd.read_csv("sampleDataSet.csv")
df = df.dropna()

In [ ]:
df.describe()

,PP_1,PP_2,PP_3,PP_4,PP_5,PP_6,PP_7,PP_8,PP_9,PP_10,...,RP_4,RP_5,RP_6,RP_7,RP_8,RP_9,RP_10,RP_11,RP_12,RP_13
count,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,...,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000
mean,490.386792,327.951782,593.343816,605.918239,437.979036,370.981132,567.076520,408.036688,282.044025,451.914046,...,518.970650,360.030398,285.395178,486.812369,325.198113,189.159329,371.122642,371.638365,346.564990,195.475891
std,272.325831,158.696374,283.185784,339.438657,176.433590,160.468221,272.019133,200.229920,115.646466,225.703570,...,338.762991,170.458693,154.906051,268.550443,194.699288,115.321803,219.015566,223.089196,150.108448,166.387031
min,43.000000,122.000000,167.000000,167.000000,148.000000,130.000000,198.000000,102.000000,142.000000,133.000000,...,95.000000,84.000000,52.000000,104.000000,4.000000,38.000000,41.000000,-54.000000,41.000000,35.000000
25%,264.000000,218.000000,449.250000,415.000000,283.000000,265.000000,402.000000,252.250000,218.000000,300.000000,...,319.000000,218.000000,184.000000,320.000000,182.000000,121.000000,224.000000,184.000000,238.000000,128.250000
50%,481.000000,272.000000,568.000000,546.500000,421.500000,332.000000,518.000000,382.000000,252.000000,417.000000,...,463.000000,349.000000,250.000000,437.000000,299.000000,160.000000,346.000000,373.000000,330.000000,164.500000
75%,664.000000,401.000000,699.000000,713.000000,549.750000,431.000000,657.750000,513.000000,317.750000,533.750000,...,618.000000,471.250000,350.000000,584.500000,432.000000,217.000000,451.000000,518.000000,419.000000,219.000000
max,1980.000000,1353.000000,4881.000000,4966.000000,1333.000000,1364.000000,3500.000000,2030.000000,1900.000000,3248.000000,...,4853.000000,1300.000000,1316.000000,3402.000000,1932.000000,1804.000000,3149.000000,1636.000000,1270.000000,2486.000000

In [ ]:
df.info

<bound method DataFrame.info of       PP_1   PP_2   PP_3    PP_4   PP_5   PP_6   PP_7   PP_8   PP_9  PP_10  \
0    665.0  235.0  651.0  1080.0  650.0  649.0  801.0  763.0  318.0  717.0
1    749.0  251.0  682.0   850.0  614.0  314.0  736.0  763.0  303.0  582.0
2    648.0  268.0  617.0   866.0  663.0  416.0  635.0  714.0  284.0  532.0
3    781.0  218.0  534.0   531.0  398.0  384.0  534.0  746.0  286.0  565.0
4    615.0  235.0  899.0   599.0  515.0  433.0  449.0  714.0  254.0  531.0
..     ...    ...    ...     ...    ...    ...    ...    ...    ...    ...
949  396.0  236.0  650.0   513.0  266.0  298.0  534.0  480.0  285.0  249.0
950  431.0  302.0  598.0   599.0  230.0  266.0  435.0  446.0  352.0  398.0
951  446.0  221.0  564.0   448.0  415.0  316.0  633.0  331.0  267.0  382.0
952  496.0  219.0  617.0  1015.0  381.0  381.0  402.0  413.0  235.0  365.0
953  397.0  202.0  532.0   466.0  265.0  333.0  416.0  365.0  219.0  463.0

     ...   RP_5   RP_6   RP_7   RP_8   RP_9  RP_10  RP_11  RP_12  RP_13  Class
0    ...  580.0  568.0  720.0  666.0  219.0  618.0  829.0  347.0  303.0      A
1    ...  546.0  267.0  670.0  695.0  205.0  502.0  618.0  687.0  200.0      A
2    ...  600.0  350.0  553.0  651.0  187.0  452.0  649.0  403.0  171.0      A
3    ...  346.0  318.0  482.0  648.0  204.0  453.0  516.0  370.0  270.0      A
4    ...  434.0  369.0  383.0  583.0  155.0  448.0  663.0  354.0  162.0      A
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
949  ...  184.0  217.0  453.0  400.0  171.0  148.0  349.0  369.0  147.0     YY
950  ...  190.0  184.0  354.0  378.0  220.0  318.0  392.0  286.0  120.0     YY
951  ...  317.0  273.0  535.0  265.0  119.0  284.0  334.0  336.0  120.0     YY
952  ...  317.0  299.0  328.0  348.0  120.0  263.0  366.0  303.0  103.0     YY
953  ...  167.0  218.0  352.0  282.0  121.0  368.0  283.0  403.0  115.0     YY

[954 rows x 54 columns]>

In [ ]:
df.shape

(954, 54)

In [ ]:
df.Class.unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
       'AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK',
       'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'V V',
       'WW', 'XX', 'YY'], dtype=object)

In [ ]:
list_to_replace=[
    'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
       'AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK',
       'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'V V',
       'WW', 'XX', 'YY'
]

list_replaced_with=[1 for i in range(len(list_to_replace))]

In [ ]:
# list_replaced_with

In [ ]:
df[['Class']] = df[['Class']].replace(list_to_replace, list_replaced_with)

In [ ]:
df[['Class']] = df[['Class']].replace(["A"], [0])

In [ ]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [ ]:
X.shape

(954, 53)

In [ ]:
elements_count = Counter(y)
# printing the element and the frequency
print("Initial distribution:")
for key, value in elements_count.items():
    print(f"{key}: {value}")

Initial distribution:
1: 18
0: 936

Splitting Data for training and testing 60/40

In [ ]:
#splitting data for training and testing 60/40
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.40)

Normalizing Data

In [ ]:
# Normalizing Data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

Augment Data

In [ ]:
#Augment Data 
knnor = data_augment.KNNOR()

X_new,y_new,_,_=knnor.fit_resample(X_train,Y_train)

563 9 (572,)
563 9 (572,)

In [ ]:
X_new.shape

(1126, 53)

In [ ]:


elements_count = Counter(y_new)
# printing the element and the frequency
print("Final distribution:")
for key, value in elements_count.items():
    print(f"{key}: {value}")

Final distribution:
0: 563
1: 563

### kNN algorthim

In [ ]:
# kNN algorithm 
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=33)  # k determined by sqrt(1122) where 1122 is the number of samples 
classifier.fit(X_new, y_new)

KNeighborsClassifier(n_neighbors=33)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.79      0.88       373
           1       0.10      1.00      0.18         9

    accuracy                           0.79       382
   macro avg       0.55      0.89      0.53       382
weighted avg       0.98      0.79      0.86       382

[[293  80]
 [  0   9]]

In [ ]:
confusion_matrix(Y_test, y_pred, labels=[0, 1])

array([[293,  80],
       [  0,   9]])

In [ ]:
tn, fp, fn, tp = confusion_matrix(Y_test, y_pred).ravel()
(tn, fp, fn, tp)

(293, 80, 0, 9)

In [ ]:
from sklearn.metrics import f1_score, accuracy_score

print(f1_score(Y_test, y_pred, average="weighted"))
print(accuracy_score(Y_test, y_pred))

0.8634771110462959
0.7905759162303665

In [ ]:
ml_builds = []
f1_scores = []
accuracy_scores = []

for i in range(1,34):

  ml_builds.append(KNeighborsClassifier(n_neighbors=i))  # k value set 
  ml_builds[i-1].fit(X_new, y_new)

  y_pred = ml_builds[i-1].predict(X_test)
  f1_scores.append(f1_score(Y_test, y_pred, average="weighted"))
  accuracy_scores.append(accuracy_score(Y_test, y_pred))

  print("\nK value = " + str(i) +  " --> f1 score = " + str(f1_scores[i-1]))
  print("K value = " + str(i) + " --> accuracy score = " + str(accuracy_scores[i-1]))

K value = 1 --> f1 score = 0.9815904910145749
K value = 1 --> accuracy score = 0.9790575916230366

K value = 2 --> f1 score = 0.9815904910145749
K value = 2 --> accuracy score = 0.9790575916230366

K value = 3 --> f1 score = 0.9640771532132789
K value = 3 --> accuracy score = 0.9528795811518325

K value = 4 --> f1 score = 0.9640771532132789
K value = 4 --> accuracy score = 0.9528795811518325

K value = 5 --> f1 score = 0.955720897175516
K value = 5 --> accuracy score = 0.9397905759162304

K value = 6 --> f1 score = 0.955720897175516
K value = 6 --> accuracy score = 0.9397905759162304

K value = 7 --> f1 score = 0.9475805710147887
K value = 7 --> accuracy score = 0.9267015706806283

K value = 8 --> f1 score = 0.9475805710147887
K value = 8 --> accuracy score = 0.9267015706806283

K value = 9 --> f1 score = 0.9347835705331466
K value = 9 --> accuracy score = 0.9057591623036649

K value = 10 --> f1 score = 0.9347835705331466
K value = 10 --> accuracy score = 0.9057591623036649

K value = 11 --> f1 score = 0.9268417909170265
K value = 11 --> accuracy score = 0.8926701570680629

K value = 12 --> f1 score = 0.9268417909170265
K value = 12 --> accuracy score = 0.8926701570680629

K value = 13 --> f1 score = 0.9204896947090223
K value = 13 --> accuracy score = 0.8821989528795812

K value = 14 --> f1 score = 0.9204896947090223
K value = 14 --> accuracy score = 0.8821989528795812

K value = 15 --> f1 score = 0.9157175802490013
K value = 15 --> accuracy score = 0.8743455497382199

K value = 16 --> f1 score = 0.9157175802490013
K value = 16 --> accuracy score = 0.8743455497382199

K value = 17 --> f1 score = 0.9093354945369972
K value = 17 --> accuracy score = 0.8638743455497382

K value = 18 --> f1 score = 0.9093354945369972
K value = 18 --> accuracy score = 0.8638743455497382

K value = 19 --> f1 score = 0.9029233649766315
K value = 19 --> accuracy score = 0.8534031413612565

K value = 20 --> f1 score = 0.9029233649766315
K value = 20 --> accuracy score = 0.8534031413612565

K value = 21 --> f1 score = 0.8948549071131723
K value = 21 --> accuracy score = 0.8403141361256544

K value = 22 --> f1 score = 0.8948549071131723
K value = 22 --> accuracy score = 0.8403141361256544

K value = 23 --> f1 score = 0.8883501346299003
K value = 23 --> accuracy score = 0.8298429319371727

K value = 24 --> f1 score = 0.8883501346299003
K value = 24 --> accuracy score = 0.8298429319371727

K value = 25 --> f1 score = 0.883438982805517
K value = 25 --> accuracy score = 0.8219895287958116

K value = 26 --> f1 score = 0.883438982805517
K value = 26 --> accuracy score = 0.8219895287958116

K value = 27 --> f1 score = 0.883438982805517
K value = 27 --> accuracy score = 0.8219895287958116

K value = 28 --> f1 score = 0.883438982805517
K value = 28 --> accuracy score = 0.8219895287958116

K value = 29 --> f1 score = 0.8751860774685821
K value = 29 --> accuracy score = 0.8089005235602095

K value = 30 --> f1 score = 0.8751860774685821
K value = 30 --> accuracy score = 0.8089005235602095

K value = 31 --> f1 score = 0.8701909855867151
K value = 31 --> accuracy score = 0.8010471204188482

K value = 32 --> f1 score = 0.8701909855867151
K value = 32 --> accuracy score = 0.8010471204188482

K value = 33 --> f1 score = 0.8634771110462959
K value = 33 --> accuracy score = 0.7905759162303665

In [ ]:
max_f1 = max(f1_scores)
max_accur = max(accuracy_scores)

print("Max f1 score = " + str(max_f1) + " when k = " + str(f1_scores.index(max_f1)+1))
print("Max accuracy score = " + str(max_accur) + " when k = " + str(accuracy_scores.index(max_accur)+1))

Max f1 score = 0.9815904910145749 when k = 1
Max accuracy score = 0.9790575916230366 when k = 1