RandomForest on provided Data set

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import io

importing data set

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving sampleDataSet.csv to sampleDataSet.csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded["sampleDataSet.csv"]))
df = df.dropna()

In [ ]:
df.fruit = pd.Categorical(pd.factorize(df.Class)[0])
df.drop("Class",axis=1, inplace=True)
print (df)

      PP_1   PP_2   PP_3    PP_4   PP_5   PP_6   PP_7   PP_8   PP_9  PP_10  \
0    665.0  235.0  651.0  1080.0  650.0  649.0  801.0  763.0  318.0  717.0
1    749.0  251.0  682.0   850.0  614.0  314.0  736.0  763.0  303.0  582.0
2    648.0  268.0  617.0   866.0  663.0  416.0  635.0  714.0  284.0  532.0
3    781.0  218.0  534.0   531.0  398.0  384.0  534.0  746.0  286.0  565.0
4    615.0  235.0  899.0   599.0  515.0  433.0  449.0  714.0  254.0  531.0
..     ...    ...    ...     ...    ...    ...    ...    ...    ...    ...
949  396.0  236.0  650.0   513.0  266.0  298.0  534.0  480.0  285.0  249.0
950  431.0  302.0  598.0   599.0  230.0  266.0  435.0  446.0  352.0  398.0
951  446.0  221.0  564.0   448.0  415.0  316.0  633.0  331.0  267.0  382.0
952  496.0  219.0  617.0  1015.0  381.0  381.0  402.0  413.0  235.0  365.0
953  397.0  202.0  532.0   466.0  265.0  333.0  416.0  365.0  219.0  463.0

     ...    RP_4   RP_5   RP_6   RP_7   RP_8   RP_9  RP_10  RP_11  RP_12  \
0    ...  1034.0  580.0  568.0  720.0  666.0  219.0  618.0  829.0  347.0
1    ...   781.0  546.0  267.0  670.0  695.0  205.0  502.0  618.0  687.0
2    ...   768.0  600.0  350.0  553.0  651.0  187.0  452.0  649.0  403.0
3    ...   467.0  346.0  318.0  482.0  648.0  204.0  453.0  516.0  370.0
4    ...   562.0  434.0  369.0  383.0  583.0  155.0  448.0  663.0  354.0
..   ...     ...    ...    ...    ...    ...    ...    ...    ...    ...
949  ...   416.0  184.0  217.0  453.0  400.0  171.0  148.0  349.0  369.0
950  ...   535.0  190.0  184.0  354.0  378.0  220.0  318.0  392.0  286.0
951  ...   257.0  317.0  273.0  535.0  265.0  119.0  284.0  334.0  336.0
952  ...   951.0  317.0  299.0  328.0  348.0  120.0  263.0  366.0  303.0
953  ...   401.0  167.0  218.0  352.0  282.0  121.0  368.0  283.0  403.0

     RP_13
0    303.0
1    200.0
2    171.0
3    270.0
4    162.0
..     ...
949  147.0
950  120.0
951  120.0
952  103.0
953  115.0

[954 rows x 53 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

Summary of the data

In [ ]:
df.describe()

,PP_1,PP_2,PP_3,PP_4,PP_5,PP_6,PP_7,PP_8,PP_9,PP_10,...,RP_4,RP_5,RP_6,RP_7,RP_8,RP_9,RP_10,RP_11,RP_12,RP_13
count,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,...,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000
mean,490.386792,327.951782,593.343816,605.918239,437.979036,370.981132,567.076520,408.036688,282.044025,451.914046,...,518.970650,360.030398,285.395178,486.812369,325.198113,189.159329,371.122642,371.638365,346.564990,195.475891
std,272.325831,158.696374,283.185784,339.438657,176.433590,160.468221,272.019133,200.229920,115.646466,225.703570,...,338.762991,170.458693,154.906051,268.550443,194.699288,115.321803,219.015566,223.089196,150.108448,166.387031
min,43.000000,122.000000,167.000000,167.000000,148.000000,130.000000,198.000000,102.000000,142.000000,133.000000,...,95.000000,84.000000,52.000000,104.000000,4.000000,38.000000,41.000000,-54.000000,41.000000,35.000000
25%,264.000000,218.000000,449.250000,415.000000,283.000000,265.000000,402.000000,252.250000,218.000000,300.000000,...,319.000000,218.000000,184.000000,320.000000,182.000000,121.000000,224.000000,184.000000,238.000000,128.250000
50%,481.000000,272.000000,568.000000,546.500000,421.500000,332.000000,518.000000,382.000000,252.000000,417.000000,...,463.000000,349.000000,250.000000,437.000000,299.000000,160.000000,346.000000,373.000000,330.000000,164.500000
75%,664.000000,401.000000,699.000000,713.000000,549.750000,431.000000,657.750000,513.000000,317.750000,533.750000,...,618.000000,471.250000,350.000000,584.500000,432.000000,217.000000,451.000000,518.000000,419.000000,219.000000
max,1980.000000,1353.000000,4881.000000,4966.000000,1333.000000,1364.000000,3500.000000,2030.000000,1900.000000,3248.000000,...,4853.000000,1300.000000,1316.000000,3402.000000,1932.000000,1804.000000,3149.000000,1636.000000,1270.000000,2486.000000

Creating Binary Classiication

In [ ]:
#df.Class.unique()

AttributeError: ignored

Splitting the attributes from the label

In [ ]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

Splitting data for training and testing 80/20

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

Normailizing values

In [ ]:
x_train = tf.keras.utils.normalize(x_train, axis=1)
x_test = tf.keras.utils.normalize(x_test, axis=1)

Byulding ml model

In [ ]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn

clf = rf(n_estimators = 1000)
clf.fit(x,y)

RandomForestClassifier(n_estimators=1000)

In [ ]:
clf = rf(n_estimators = 1000)
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
sklearn.metrics.f1_score(y_test, pred, average='weighted')

0.02058676247157923

In [ ]:
#new testing method using cross-validation
scores = []
for i in range(10):
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
    clf = rf(n_estimators = 1000)
    clf.fit(x_train, y_train)
    pred = clf.predict(x_test)
    scores.append(sklearn.metrics.f1_score(y_test, pred, average='weighted'))

print(scores)

In [ ]:
sum(scores)/ len(scores) #average score