RandomForest on provided Data set

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import io

importing data set

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving sampleDataSet.csv to sampleDataSet (2).csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded["sampleDataSet.csv"]))
df = df.dropna()

In [ ]:
#df.fruit = pd.Categorical(pd.factorize(df.Class)[0])
#df.drop("Class",axis=1, inplace=True)
#print (df)

Summary of the data

In [ ]:
df.describe()

,PP_1,PP_2,PP_3,PP_4,PP_5,PP_6,PP_7,PP_8,PP_9,PP_10,...,RP_4,RP_5,RP_6,RP_7,RP_8,RP_9,RP_10,RP_11,RP_12,RP_13
count,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,...,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000,954.000000
mean,490.386792,327.951782,593.343816,605.918239,437.979036,370.981132,567.076520,408.036688,282.044025,451.914046,...,518.970650,360.030398,285.395178,486.812369,325.198113,189.159329,371.122642,371.638365,346.564990,195.475891
std,272.325831,158.696374,283.185784,339.438657,176.433590,160.468221,272.019133,200.229920,115.646466,225.703570,...,338.762991,170.458693,154.906051,268.550443,194.699288,115.321803,219.015566,223.089196,150.108448,166.387031
min,43.000000,122.000000,167.000000,167.000000,148.000000,130.000000,198.000000,102.000000,142.000000,133.000000,...,95.000000,84.000000,52.000000,104.000000,4.000000,38.000000,41.000000,-54.000000,41.000000,35.000000
25%,264.000000,218.000000,449.250000,415.000000,283.000000,265.000000,402.000000,252.250000,218.000000,300.000000,...,319.000000,218.000000,184.000000,320.000000,182.000000,121.000000,224.000000,184.000000,238.000000,128.250000
50%,481.000000,272.000000,568.000000,546.500000,421.500000,332.000000,518.000000,382.000000,252.000000,417.000000,...,463.000000,349.000000,250.000000,437.000000,299.000000,160.000000,346.000000,373.000000,330.000000,164.500000
75%,664.000000,401.000000,699.000000,713.000000,549.750000,431.000000,657.750000,513.000000,317.750000,533.750000,...,618.000000,471.250000,350.000000,584.500000,432.000000,217.000000,451.000000,518.000000,419.000000,219.000000
max,1980.000000,1353.000000,4881.000000,4966.000000,1333.000000,1364.000000,3500.000000,2030.000000,1900.000000,3248.000000,...,4853.000000,1300.000000,1316.000000,3402.000000,1932.000000,1804.000000,3149.000000,1636.000000,1270.000000,2486.000000

Creating Binary Classiication

In [ ]:
df.Class.unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
       'AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK',
       'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'V V',
       'WW', 'XX', 'YY'], dtype=object)

In [ ]:
list_to_replace=[
    'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
       'AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK',
       'LL', 'MM', 'NN', 'OO', 'PP', 'QQ', 'RR', 'SS', 'TT', 'UU', 'V V',
       'WW', 'XX', 'YY'
]

list_replaced_with=[1 for i in range(len(list_to_replace))]

In [ ]:
df[['Class']] = df[['Class']].replace(list_to_replace, list_replaced_with)

In [ ]:
df[['Class']] = df[['Class']].replace(["A"], [0])

Splitting the attributes from the label

In [ ]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

Splitting data for training and testing 80/20

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.40)

Normailizing values

In [ ]:
x_train = tf.keras.utils.normalize(x_train, axis=1)
x_test = tf.keras.utils.normalize(x_test, axis=1)

Byulding ml model

In [ ]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn

clf = rf(n_estimators = 100)
clf.fit(x,y)

RandomForestClassifier()

In [ ]:
clf = rf(n_estimators = 100)
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
sklearn.metrics.f1_score(y_test, pred, average='weighted')

0.9765019547168771

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, pred))
print(confusion_matrix(y_test, pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         6
           1       0.98      1.00      0.99       376

    accuracy                           0.98       382
   macro avg       0.49      0.50      0.50       382
weighted avg       0.97      0.98      0.98       382

[[  0   6]
 [  0 376]]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#new testing method using cross-validation
scores = []
for i in range(10):
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.4)
    clf = rf(n_estimators = 1000)
    clf.fit(x_train, y_train)
    pred = clf.predict(x_test)
    scores.append(sklearn.metrics.f1_score(y_test, pred, average='weighted'))

print(scores)

[0.968697193828084, 0.9898060964757983, 0.9796436457566625, 0.9707917285819435, 0.9822795766068676, 0.9492474257708745, 0.9531302216776205, 0.964800110953157, 0.9609065785270877, 0.9822795766068676]

In [ ]:
sum(scores)/ len(scores) #average score

0.9701582154784963