RandomForest on provided Data set

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import io

importing data set

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving dataFile.csv to dataFile (5).csv

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded["dataFile.csv"]))
df = df.dropna()

In [ ]:
#df.fruit = pd.Categorical(pd.factorize(df.Class)[0])
#df.drop("name",axis=1, inplace=True)
print (df)

       x1     x2     x3    x4     x5     x6     y1     y2     y3     y4  \
0    81.0  194.0  274.0  86.0  195.0  280.0  221.0  218.0  212.0  313.0
1    88.0  184.0  261.0  84.0  191.0  270.0  206.0  220.0  208.0  303.0
2    97.0  185.0  269.0  81.0  187.0  267.0  215.0  216.0  206.0  303.0
3    95.0  191.0  282.0  84.0  178.0  258.0  219.0  225.0  206.0  305.0
4    86.0  182.0  270.0  76.0  186.0  275.0  215.0  217.0  213.0  306.0
..    ...    ...    ...   ...    ...    ...    ...    ...    ...    ...
85   76.0  191.0  300.0  89.0  190.0  289.0  206.0  207.0  214.0  298.0
86   82.0  185.0  295.0  87.0  184.0  287.0  216.0  211.0  201.0  304.0
87  103.0  184.0  291.0  83.0  180.0  291.0  206.0  202.0  204.0  310.0
88   92.0  170.0  290.0  68.0  184.0  274.0  209.0  209.0  201.0  312.0
89   93.0  184.0  278.0  88.0  185.0  282.0  199.0  201.0  196.0  312.0

       y5     y6      t1      t2      t3      t4      t5    name
0   281.0  286.0  114413  167635  123439  107935  182551  jumana
1   304.0  312.0  182339  142204  148806   99753  164778  jumana
2   309.0  314.0  198410  141156  167614   98621  168973  jumana
3   319.0  322.0  157903  168448  125450  121992  158048  jumana
4   312.0  306.0  146923  166153  193621   97040  153869  jumana
..    ...    ...     ...     ...     ...     ...     ...     ...
85  306.0  291.0  376955  255922  382015  279604  229874   samir
86  307.0  311.0  275833  223295  351655  257901  198648   samir
87  302.0  312.0  265351  215950  349187  261830  248779   samir
88  308.0  296.0  375821  589453  350321  357407  282098   samir
89  308.0  305.0  292414  297639  392455  318973  322554   samir

[90 rows x 18 columns]

Summary of the data

In [ ]:
df.describe()

,x1,x2,x3,x4,x5,x6,y1,y2,y3,y4,y5,y6,t1,t2,t3,t4,t5
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,90.955556,185.622222,282.000000,87.255556,190.988889,280.411111,203.744444,206.411111,202.800000,304.877778,303.988889,300.277778,284714.066667,264486.344444,327512.722222,259403.122222,255578.488889
std,9.313408,10.131249,11.451902,10.781342,10.726942,10.674862,9.383899,8.551095,7.341126,8.873427,8.451440,10.801610,82234.771360,76436.961771,103673.418802,80640.244764,85484.595498
min,68.000000,163.000000,259.000000,62.000000,167.000000,257.000000,179.000000,188.000000,183.000000,281.000000,281.000000,279.000000,92169.000000,141156.000000,114745.000000,96995.000000,153869.000000
25%,84.250000,180.000000,276.250000,81.000000,184.250000,273.000000,198.000000,200.250000,198.000000,300.000000,300.000000,294.250000,222979.000000,215397.250000,258550.000000,211595.250000,199650.000000
50%,91.500000,185.000000,282.000000,87.000000,191.000000,283.000000,203.500000,206.000000,203.000000,305.000000,304.000000,301.000000,287433.000000,245626.500000,338198.000000,258897.000000,233338.000000
75%,98.000000,191.000000,290.000000,94.000000,198.000000,288.000000,211.000000,212.000000,207.750000,311.750000,309.000000,308.000000,349784.250000,299856.750000,392341.000000,316568.250000,289257.000000
max,111.000000,221.000000,308.000000,116.000000,219.000000,302.000000,223.000000,227.000000,218.000000,325.000000,327.000000,327.000000,464097.000000,589453.000000,682039.000000,449794.000000,756373.000000

Creating Binary Classification

In [ ]:
df.name.unique()

array(['jumana', 'dana', 'Amani', 'fahed', 'Khalid ', 'faisal', 'mayasah',
       'mka', 'samir'], dtype=object)

In [ ]:
list_to_replace=[
    'dana', 'Amani', 'fahed', 'Khalid ', 'faisal', 'mayasah',
       'mka', 'samir'
]

list_replaced_with=[1 for i in range(len(list_to_replace))]

In [ ]:
df[['name']] = df[['name']].replace(list_to_replace, list_replaced_with)

In [ ]:
df[['name']] = df[['name']].replace(["jumana"], [0])

Splitting the attributes from the label

In [ ]:

x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

Splitting data for training and testing 60/40

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.40)

Normailizing values

In [ ]:
x_train = tf.keras.utils.normalize(x_train, axis=1)
x_test = tf.keras.utils.normalize(x_test, axis=1)

Building ml model

In [ ]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn

#clf = rf(n_estimators = 10)
#clf.fit(x,y)

In [ ]:
clf = rf(n_estimators = 100)
clf.fit(x_train, y_train)
pred = clf.predict(x_test)
sklearn.metrics.f1_score(y_test, pred, average='weighted')

1.0

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, pred))
print(confusion_matrix(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00        32

    accuracy                           1.00        36
   macro avg       1.00      1.00      1.00        36
weighted avg       1.00      1.00      1.00        36

[[ 4  0]
 [ 0 32]]

In [ ]:
#new testing method using cross-validation
scores = []
for i in range(10):
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.4)
    clf = rf(n_estimators = 100)
    clf.fit(x_train, y_train)
    pred = clf.predict(x_test)
    scores.append(sklearn.metrics.f1_score(y_test, pred, average='weighted'))

print(scores)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
sum(scores)/ len(scores) #average score

1.0