In [ ]:
!pip install knnor
from knnor import data_augment

Collecting knnor
  Downloading knnor-0.0.4.tar.gz (7.9 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from knnor) (1.21.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from knnor) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->knnor) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->knnor) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->knnor) (1.4.1)
Building wheels for collected packages: knnor
  Building wheel for knnor (setup.py) ... done
  Created wheel for knnor: filename=knnor-0.0.4-py3-none-any.whl size=7048 sha256=1123aa2fa61710649b8106f55a09d2a8de61b08ba8bf9fd37f5d2b766b59a813
  Stored in directory: /root/.cache/pip/wheels/fc/98/ae/e32b43c3f33dd287701122e2e5ae099577b0304dc65f754f4c
Successfully built knnor
Installing collected packages: knnor
Successfully installed knnor-0.0.4

In [ ]:
import pandas as pd
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import io

# Augementing data for  "jumana"

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving dataFile.csv to dataFile.csv

In [ ]:
df=pd.read_csv("dataFile.csv")
df = df.dropna()

In [ ]:
df.describe()

,x1,x2,x3,x4,x5,x6,y1,y2,y3,y4,y5,y6,t1,t2,t3,t4,t5
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.00000,120.000000,120.000000,1.200000e+02,120.000000,1.200000e+02,120.000000,120.000000
mean,91.866667,186.350000,283.841667,89.425000,192.325000,282.066667,204.816667,207.558333,202.841667,304.00000,304.425000,300.466667,2.726491e+05,250483.508333,3.201428e+05,240366.066667,241579.416667
std,9.663179,10.148188,12.075391,11.882946,10.595831,12.481067,9.291709,8.070900,7.487801,8.49419,7.988082,10.665213,1.211852e+05,74473.204689,1.280841e+05,83511.634442,79297.587296
min,68.000000,163.000000,259.000000,62.000000,167.000000,248.000000,179.000000,188.000000,183.000000,281.00000,281.000000,276.000000,9.216900e+04,141156.000000,1.147450e+05,67135.000000,146231.000000
25%,85.000000,180.000000,277.750000,81.750000,186.000000,273.750000,198.000000,201.000000,198.000000,300.00000,300.000000,293.750000,2.085598e+05,207164.000000,2.547195e+05,201063.250000,197454.500000
50%,92.500000,186.000000,282.500000,88.000000,192.500000,283.000000,204.000000,207.000000,203.000000,303.50000,304.500000,301.000000,2.587070e+05,228727.000000,3.255650e+05,232441.500000,224896.000000
75%,99.000000,193.000000,292.250000,98.000000,200.000000,290.000000,212.000000,214.000000,208.250000,310.25000,310.000000,308.000000,3.330320e+05,290721.250000,3.818522e+05,293907.750000,274067.250000
max,111.000000,221.000000,312.000000,123.000000,219.000000,313.000000,223.000000,227.000000,218.000000,325.00000,327.000000,327.000000,1.213355e+06,589453.000000,1.138620e+06,449794.000000,756373.000000

In [ ]:
df.info

<bound method DataFrame.info of        x1     x2     x3    x4     x5     x6     y1     y2     y3     y4  \
0    81.0  194.0  274.0  86.0  195.0  280.0  221.0  218.0  212.0  313.0
1    88.0  184.0  261.0  84.0  191.0  270.0  206.0  220.0  208.0  303.0
2    97.0  185.0  269.0  81.0  187.0  267.0  215.0  216.0  206.0  303.0
3    95.0  191.0  282.0  84.0  178.0  258.0  219.0  225.0  206.0  305.0
4    86.0  182.0  270.0  76.0  186.0  275.0  215.0  217.0  213.0  306.0
..    ...    ...    ...   ...    ...    ...    ...    ...    ...    ...
115  91.0  186.0  288.0  81.0  190.0  260.0  209.0  204.0  197.0  293.0
116  84.0  168.0  263.0  82.0  175.0  279.0  202.0  205.0  194.0  293.0
117  80.0  184.0  298.0  82.0  193.0  278.0  205.0  211.0  203.0  302.0
118  87.0  179.0  280.0  84.0  203.0  291.0  197.0  219.0  205.0  294.0
119  90.0  181.0  279.0  82.0  186.0  276.0  202.0  215.0  201.0  295.0

        y5     y6      t1      t2      t3      t4      t5    name
0    281.0  286.0  114413  167635  123439  107935  182551  jumana
1    304.0  312.0  182339  142204  148806   99753  164778  jumana
2    309.0  314.0  198410  141156  167614   98621  168973  jumana
3    319.0  322.0  157903  168448  125450  121992  158048  jumana
4    312.0  306.0  146923  166153  193621   97040  153869  jumana
..     ...    ...     ...     ...     ...     ...     ...     ...
115  313.0  310.0  116164  148333  133178   98626  157885    hbku
116  312.0  304.0  124723  157939  158739   99436  170751    hbku
117  306.0  297.0  107185  151299  148248   67135  159494    hbku
118  307.0  276.0  113618  159929  149130  100608  173446    hbku
119  295.0  296.0  155396  157514  159594   83008  176256    hbku

[120 rows x 18 columns]>

In [ ]:
df.shape

(120, 18)

In [ ]:
df.name.unique()

array(['jumana', 'dana', 'Amani', 'fahed', 'Khalid ', 'faisal', 'mayasah',
       'mka', 'samir', 'bbs', 'eman', 'hbku'], dtype=object)

creating binary classification

In [ ]:
list_to_replace=list(df.name.unique())
list_to_replace.remove("jumana")
print("to be replace: ",list_to_replace)

list_replaced_with=["other" for i in range(len(list_to_replace))]

to be replace:  ['dana', 'Amani', 'fahed', 'Khalid ', 'faisal', 'mayasah', 'mka', 'samir', 'bbs', 'eman', 'hbku']

In [ ]:
df[['name']] = df[['name']].replace(list_to_replace, list_replaced_with)
print(df[['name']])

       name
0    jumana
1    jumana
2    jumana
3    jumana
4    jumana
..      ...
115   other
116   other
117   other
118   other
119   other

[120 rows x 1 columns]

In [ ]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [ ]:
x.shape

(120, 17)

In [ ]:
elements_count = Counter(y)
# printing the element and the frequency
print("Initial distribution:")
for key, value in elements_count.items():
    print(f"{key}: {value}")

Initial distribution:
jumana: 10
other: 110

Splitting Data for training and testing 60/40

In [ ]:
#splitting data for training and testing 60/40
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.40)

Normalizing Data

In [ ]:
# Normalizing Data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

Augment Data

In [ ]:
#Augment Data 
knnor = data_augment.KNNOR()

X_new,Y_new,_,_=knnor.fit_resample(X_train,Y_train)
X_new.shape

65 7 (72,)
65 7 (72,)

(130, 17)

In [ ]:
elements_count = Counter(Y_new)
# printing the element and the frequency
print("Final distribution:")
for key, value in elements_count.items():
    print(f"{key}: {value}")

Final distribution:
other: 65
jumana: 65

### kNN algorthim

In [ ]:
# kNN algorithm 
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=3)  # k determined by sqrt(160) where 160 is the number of samples 
classifier.fit(X_new, Y_new)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

              precision    recall  f1-score   support

      jumana       1.00      1.00      1.00         3
       other       1.00      1.00      1.00        45

    accuracy                           1.00        48
   macro avg       1.00      1.00      1.00        48
weighted avg       1.00      1.00      1.00        48

[[ 3  0]
 [ 0 45]]

In [ ]:
tn, fp, fn, tp = confusion_matrix(Y_test, y_pred).ravel()
(tn, fp, fn, tp)

(3, 0, 0, 45)

In [ ]:
from sklearn.metrics import f1_score, accuracy_score

print(f1_score(Y_test, y_pred, average="weighted"))
print(accuracy_score(Y_test, y_pred))

1.0
1.0

In [ ]:
ml_builds = []
f1_scores = []
accuracy_scores = []

for i in range(1,14):

  ml_builds.append(KNeighborsClassifier(n_neighbors=i))  # k value set 
  ml_builds[i-1].fit(X_new, Y_new)

  y_pred = ml_builds[i-1].predict(X_test)
  f1_scores.append(f1_score(Y_test, y_pred, average="weighted"))
  accuracy_scores.append(accuracy_score(Y_test, y_pred))

  print("\nK value = " + str(i) +  " --> f1 score = " + str(f1_scores[i-1]))
  print("K value = " + str(i) + " --> accuracy score = " + str(accuracy_scores[i-1]))

K value = 1 --> f1 score = 1.0
K value = 1 --> accuracy score = 1.0

K value = 2 --> f1 score = 1.0
K value = 2 --> accuracy score = 1.0

K value = 3 --> f1 score = 1.0
K value = 3 --> accuracy score = 1.0

K value = 4 --> f1 score = 1.0
K value = 4 --> accuracy score = 1.0

K value = 5 --> f1 score = 1.0
K value = 5 --> accuracy score = 1.0

K value = 6 --> f1 score = 1.0
K value = 6 --> accuracy score = 1.0

K value = 7 --> f1 score = 1.0
K value = 7 --> accuracy score = 1.0

K value = 8 --> f1 score = 1.0
K value = 8 --> accuracy score = 1.0

K value = 9 --> f1 score = 1.0
K value = 9 --> accuracy score = 1.0

K value = 10 --> f1 score = 1.0
K value = 10 --> accuracy score = 1.0

K value = 11 --> f1 score = 1.0
K value = 11 --> accuracy score = 1.0

K value = 12 --> f1 score = 1.0
K value = 12 --> accuracy score = 1.0

K value = 13 --> f1 score = 1.0
K value = 13 --> accuracy score = 1.0

In [ ]:
max_f1 = max(f1_scores)
max_accur = max(accuracy_scores)

print("Max f1 score = " + str(max_f1) + " when k = " + str(f1_scores.index(max_f1)+1))
print("Max accuracy score = " + str(max_accur) + " when k = " + str(accuracy_scores.index(max_accur)+1))

Max f1 score = 1.0 when k = 1
Max accuracy score = 1.0 when k = 1